<!doctype html>

<html lang="zh-Hant-TW"> <!-- 網頁語言 -->

    <head>  <!-- 網頁標頭 -->
    
        <meta charset="utf-8"> <!-- 網頁字元編碼 -->
        
        <meta name="description" content="以Flask框架製作的簡易公告欄">
        <meta name="author" content="finrodchen.net">
        <!-- 網頁基本資料 -->

        {% block head %}  <!-- head區塊開始 -->
      
        {% endblock %}  <!-- head區塊結束 -->
  
    </head>

    <body>  <!-- 網頁內容 -->

        {% block body %}  <!-- body區塊開始 -->
      
        {% endblock %}  <!-- body區塊結束 -->

    </body>

</html